USE [PCMSDEV200]
GO
/****** Object:  StoredProcedure [dbo].[sp_QSI05]    Script Date: 07/28/2009 19:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<KARRSON>
-- Create date: <2009-06-08>
-- Description:	<Variaion Sheet>
-- =============================================
ALTER PROCEDURE [dbo].[sp_QSI23]
	@ProjectCode as nvarchar(20),
	@username as nvarchar(20),
	@sessionid as nvarchar(max)
	--@ERRMESSAGE AS NVARCHAR(MAX) OUTPUT
AS
BEGIN
	PRINT 'PROJECTCODE' + @PROJECTCODE
	PRINT @USERNAME
	PRINT @SESSIONID

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @USERCODE AS NVARCHAR(50)
	DECLARE @PROCESSDATE AS DATETIME
	DECLARE @ROWSNUMBER AS INT
	DECLARE @ERRMESSAGE AS NVARCHAR(MAX)
	DECLARE @TRANSNAME AS NVARCHAR
	DECLARE @LINENUM AS INT
	DECLARE @SUCC_STATUS AS NVARCHAR(10)
	DECLARE @FAIL_STATUS AS NVARCHAR(10)
	DECLARE @STATUS AS NVARCHAR(10)
	DECLARE @ERRCOUNT AS INT
	
	/* HEADER ROW */
	DECLARE @HEADERROW AS INT
	DECLARE @HEADERVAL AS NVARCHAR(10)
	SET @HEADERVAL = 'Header'
	SET @HEADERROW = ISNULL((SELECT TOP 1 CASE WHEN ISNUMERIC(COL_A) = 1 THEN CAST(COL_A AS INT) ELSE 1 END FROM #Excel WHERE COL_B = @HEADERVAL),1)
	/* HEADER MESSAGE */
	DECLARE @HDRMESSAGE AS NVARCHAR(MAX)
	/* ROW MESSAGE */
	DECLARE @ROWVAL AS NVARCHAR(20) 
	SET @ROWVAL = 'Row'
	PRINT '1.0'
	
	--LINE FIELD
	SET @LINENUM = 0
	SET @ERRMESSAGE = ''
	SET @PROCESSDATE = GETDATE()
	SET @TRANSNAME = 'PUI02TRANS'
	SET @SUCC_STATUS = 'UA'
	SET @FAIL_STATUS = 'UR'
	SET @ERRCOUNT = 0
	PRINT 'DELETE OLD RECORD IF EXISTS'
	/* KARRSON: DELETE OLDER DATA IF EXISTS */
	DELETE FROM VarianceSheet WHERE ID = @SESSIONID
	DELETE FROM VarianceSheetRows WHERE ID = @SESSIONID
	PRINT 'DEBUG'
	
	BEGIN TRY
		SET @ROWSNUMBER = ISNULL(CAST((SELECT TOP 1 COL_A FROM #Excel WHERE COL_B = @ROWVAL) AS INT),0) + 1
		
	END TRY
	BEGIN CATCH
		SET @ERRMESSAGE = '0' -- CANNOT GET ROW NUMBER OF ROWS
		SET @ROWSNUMBER = 1
	END CATCH
	PRINT 'ROW NUMBER' 
	PRINT @ROWSNUMBER
	IF @ROWSNUMBER <> 0
	BEGIN
		/* HEADER MESSAGE */
		SELECT @HDRMESSAGE = COALESCE(@HDRMESSAGE+',', '') + [MESSAGE]
		FROM
		(
		SELECT DISTINCT [MESSAGE]
		FROM #Excel WHERE CAST(COL_A AS INT) < @ROWSNUMBER

		) X

		ORDER BY [MESSAGE]

		BEGIN TRANSACTION @TRANSNAME
			PRINT 'INSERT HEADER'
			/*==karrson: Insert SMR Header to Temp Table===================*/

			INSERT INTO [dbo].[SMRLISTHDR]
           ([ID],[FileType],[SMRNO],[CREATEDBY]
           ,[CREATED],[MATERIALTYPE],[MATERIALUSEFOR]
           ,[OPTION1],[OPTION2],[OPTION3],[OPTION4]
           ,[DESC1],[DESC2],[DESC3],[DESC4]
           ,[REMARK1],[REMARK2],[REMARK3],[REMARK4],[REMARK5]
           ,[RECEDATE],[SUBCONTCODE],[MESSAGE])
			SELECT 
			@SESSIONID,2003,COL_C,@USERNAME,
			@PROCESSDATE,COL_D,COL_E,
			COL_F,COL_G,COL_H,COL_I,
			COL_J,COL_K,COL_L,COL_M,
			COL_N,COL_O,COL_P,COL_Q,COL_R,
			COL_S,COL_T,[MESSAGE]
			FROM #Excel
			WHERE CAST(COL_A AS INT) = @HEADERROW
			
		PRINT 'ROWNUMBER'
		PRINT @ROWSNUMBER
		/*=============*/
		--KARRSON: INSERT PURCHASE ROWS LEVEL TO TEMP TABLE
		INSERT INTO [dbo].[SMRLISTROWS]
           ([ID] ,[LINENUM] ,[CREATEDBY]
           ,[CREATED],[ITEMCODE],[DESC],[COSTCODE]
           ,[APPROVEREF],[DELIVERYDATE],[QUANTITY]
           ,[ACCQUANTITY],[CURRENCY],[UNITPRICE]
           ,[VENDOR],[AMOUNT],[ORDDATE],[POContract]
           ,[SchdDeliverDate],[MESSAGE])
		
		SELECT @SESSIONID,CAST(COL_A AS INT),@USERNAME,
			@PROCESSDATE,COL_D,COL_E,COL_F,
			COL_G,COL_H,COL_I,
			COL_J,COL_K,COL_L,
			COL_M,COL_N,COL_O,COL_P,
			COL_Q,[MESSAGE]
		FROM #Excel 
		WHERE CAST(COL_A AS INTEGER) >= @ROWSNUMBER AND ISNULL(COL_D,'') <> ''
		
		
		SET @ERRCOUNT = (SELECT COUNT(ID) FROM PURCHASELISTHDR WHERE ID = @SESSIONID AND ISNULL([MESSAGE],'' ) <> '')
		PRINT 'ERROR COUNT'
		PRINT @ERRCOUNT
		IF @ERRCOUNT = 0 
		BEGIN
			/* CHECK ROW CONTAIN ERROR OR NOT */
			SET @ERRCOUNT = (SELECT COUNT(ID) FROM PURCHASELISTROWS WHERE ID = @SESSIONID AND ISNULL([MESSAGE],'') <> '')
		END
		IF @ERRCOUNT = 0
		BEGIN
			/* NO ERROR */
			SET @STATUS = @SUCC_STATUS
		END
		ELSE
		BEGIN
			/* ERROR */
			SET @STATUS = @FAIL_STATUS
		END
		/* UPDATE DOCUMENT PROPERTY TABLE */
		UPDATE [DBO].[DocumentProperty] SET DOCSTATUS = @STATUS, isError = CASE WHEN @STATUS = @FAIL_STATUS THEN 1 ELSE 0 END  WHERE ID = @SESSIONID
		IF @ERRMESSAGE = '' 
		BEGIN
			COMMIT TRANSACTION @TRANSNAME
		END
		ELSE
		BEGIN
			ROLLBACK TRANSACTION @TRANSNAME
		END
		
	END
	ELSE
	BEGIN -- ROWNUMBER = 0
		SET @ERRMESSAGE = @ERRMESSAGE
	END
	
END








