 <%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterCustomize.master.cs" Inherits="MasterCustomize" %>
<%@ Register Src="Banner.ascx" TagName="Banner" TagPrefix="PC" %>
<%@ Register Src="Footer.ascx" TagName="Footer" TagPrefix="PC" %>
<%@ Register Src="MAI01Menu.ascx" TagName="NavMenu" TagPrefix="PC" %>


<%@ Import Namespace="PCCore" %>
<html>
<head runat="server">
    <link rel="SHORTCUT ICON" href="~/flexihr.ico"/>
    <title></title>
    <meta http-equiv="pragma" content="no-cache" /> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <base target="_self" />
</head>
<!--oncontextmenu="return false; onsubmit="if( _HRCommand.value==COMMAND_EXPORT) return setCommand('refresh');""-->
<body style="height:100%" > 
    <form id="frmMain" runat="server"  >
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="80%"  class="contentholder">
                <tr>
                   <%-- <td valign="top" width="162px" height="100%">
                        <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top"><PC:NavMenu ID="NavMenu" runat="server" /></td>                                
                            </tr>
                        </table>
                    </td>--%>
                    <td valign="top" height="100%"  class="FormContainer"> 
                        <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                        
                            <!---->
                           <%-- <tr>
                            
                            </tr>--%>
                            <!---->
                            
                                  <tr>
                                    <td  height="10" valign="top">
                                        <PC:Note ID="Note" runat="server" Visible="false" />
                                    </td>
                                  </tr>
                                   <tr runat="server" id="NoteSepLine" visible="false" height="10" valign="top">
                                    <td class="SepVerLine">&nbsp;</td>
                                  </tr>
                                  <!-- note end -->
              
                                  <!-- title bar begin -->
                                  <tr>
                                     <td height="10" valign="top">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td class="txttitle">
                                                <PC:Title id="Title" runat="server"></PC:Title>
                                             </td>
                                            <td align="right">
                                                
                                            </td>
                                           </tr>
                                          </table>
                                       </td>
                                  </tr>
                                  <tr>                
                                    <td height="10"><hr size="1" class="titlehr"></td>
                                  </tr>                                 
                                <!-- title bar end -->
            
                                <!-- content begin -->
                                    <tr>
                                        <td valign="top" style="padding-top:6px;padding-left:10px" width="80%">    
                                            <table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">                                                
                                                <tr>
                                                    <td valign="top" >
                                                        <asp:contentplaceholder id="ContentPlaceHolder" runat="server"></asp:contentplaceholder>
                                                    </td>
                                                </tr>
                                            </table> 
                                        </td>
                                    </tr>
                                     
                                    
                                <!-- content end -->            
                              
                             
            </table>
            
        </td>
        </tr>
        
        </table>
    </form>

        <PC:Footer ID="Footer" runat="server" />        
    <script language="javascript">
        //页面加载完后执行的代码,
        function MasterBeExecute()
        {  
          if (typeof(selfToBeExecute)=="function")
          {
                selfToBeExecute();
          }   
        } 
        function Save()
        {
            setCommand(COMMAND_SAVEDB);
            alert(COMMAND_SAVEDB);
            document.forms[0].submit();
        }
        function tbSubmit()
        {
            setCommand(COMMAND_SUBMIT);
            alert(COMMAND_SUBMIT);
            document.forms[0].submit();
        }
        function Cancel()
        {
            setCommand(COMMAND_CANCEL);
            alert(COMMAND_CANCEL);
            
            document.forms[0].submit();
        }
        function Refresh()
        {
            document.forms[0].submit();
        }
        
    </script>
    
</body>
</html>
